*{
    box-sizing: border-box;
}
body{
    width:80%;
    height: auto;
    margin: 0 auto;
    background-color: #f2f2f2;
    
}

#mainContainer{
    padding: 0%;
    margin: 0 auto;
    width: 50%;
    height: auto;
    box-shadow: -4px -4px 8px 6px rgba(150,150,150,1);
    border: 3px solid #BA0A4B;
    overflow: hidden;
    background-color: rgb(255, 148, 122);
    
}

#arrow{
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    height: auto;
}
a{
    font-size: 10rem;
    cursor: cell;
    font-weight: bold;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: 0.3s ease;
    color: rgb(255, 255, 255);
    
}
img {
    margin: 0% auto;
    width: 100%;
    height:auto;
  }

.containerImg{
      display: none;
  }



